.App {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.header {
  margin: 50px;
}

#button {
  margin-top: 40px;
  padding: 10px 10px;
  border: solid black 1px;
  border-radius: 10px;
}

#players-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 10px;
}

.players {
  margin: 30px 15px;
  align-items: center;
  width: 15%;
  padding: 20px 5px 25px;
  background-color: cornflowerblue;
  border-radius: 10px;
}

.dark-mode {
  color: white;
  background-color: #1B262C;
}